#if(${PRINTBUFFEREXISTS} == "false")
private final PrintBuffer printBuffer = BufferFactory.newInstance(false).getPrintBuffer();
#end

private static void deleteVisibility(final PrintBuffer printBuffer, final String name) {
String screenContextFop = printBuffer.getStringValue(FIELDNAME_SCREEN_CONTEXT_FOP);
screenContextFop = screenContextFop.replaceAll("FOP_" + name, "");
printBuffer.setValue(FIELDNAME_SCREEN_CONTEXT_FOP, screenContextFop);
}