@ScreenEventHandler(type = ScreenEventType.${EVENTUP})
public void screen${EVENT}(final ScreenEvent event, final ScreenControl screenControl, final DbContext dbContext, final ${MASKEDITOR} head) throws EventException {

}