#if (${PACKAGE_NAME} != "")package ${PACKAGE_NAME};#end

import de.abas.eks.jfop.FOPException;
import de.abas.eks.jfop.annotation.RunFop;
import de.abas.eks.jfop.remote.ContextRunnable;
import de.abas.eks.jfop.remote.FOPSessionContext;

public class ${NAME} implements ContextRunnable{

    @RunFop
    public int runFop(final FOPSessionContext ctx, final String[] args) throws FOPException {

    }

}