@FieldEventHandler(field = "${FIELDNAME}", type = FieldEventType.${EVENTUP}, table = false)
public void ${FIELDNAME}${EVENT}(final FieldEvent event, final ScreenControl screenControl, final DbContext dbContext, final ${MASKEDITOR} head) throws EventException, IOException {

}